* {
    margin:0;
    padding:0
}

#container {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#navbar h3 {
  margin: 0;
  padding: 0;
}

#navbar {
    text-align: center;
    color: #FFFFFF;
    font-size: 12pt;

    width: calc(21% + 40px);
    height:100%;
    overflow-y: auto;
    float:left;
    padding: 10px 0px;
    position: fixed;

}

#navbar #navbar_header {
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 0px;
}

#navbar #navbar_header #back {
  margin-left: 20px;
}

#navbar #navbar_header h1 {
  margin: -10px;
}

#navbar_header img {
    width: 85%;
    margin: 10px 0px;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#navbar ul li {
  background: #444444;
  color: white;
  text-decoration: none;
  width: calc(100% - 40px);
  padding: 15px 20px;
  margin-bottom: 5px;
  font-size: 20px;
}

#navbar ul li:hover {
  background: #333333;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#navbar ul a {
  text-decoration: none;
}


#navbar ul li ul {
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  margin-bottom: 15px;
}

#navbar ul li ul li {
  background: #444444;
  width: 100%;
  margin:0;
  display: block;
  color: #fff;
  padding: 5px 0;
  padding-left: 20px;
  font-size: 14px;
}

#navbar ul li ul li:hover { background: #666; }

#navbar ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


body {
  background: #1E1E1E;
  color: #303030;
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

#content {
    background: white;
    text-align: left;
    font-size: 16px;
    padding: 40px;

    position:absolute;
    right:0;
    min-height:100%;
    width: calc(79% - 120px);
}

.footer {
    text-align: center;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: #898989;
    font-size: 10pt;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;

    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.footer:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.footer a {
    margin: 0px 30px;
}

.footer img {
  margin-bottom: 10px;
}

.shadowed_image {
    box-shadow: 5px 5px 5px #474747;
    margin: 30px;
}

#jswarning {
    text-align: right;
    font-size: 11px;
    margin-top: -10px;
}

nav {
  text-align: left;
}

a {
    color: #ffffff;
} a:hover {
    color: #ff6100;
    -webkit-transition:color 0.3s;
    -moz-transition:color 0.3s;
    -o-transition:color 0.3s;
    transition:color 0.3s
}

#content a {
  color: #3399FF;
  -webkit-transition:color 0.3s;
  -moz-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s
} #content a:hover {
  /*color: #ff6100;*/
  color: red;
  -webkit-transition:color 0.3s;
  -moz-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s
}

pre {
  display: inline;
  margin: 0;
}

p code {
    color: #FF4747;
}

div .highlight {
    border: 1px solid #d5d5e9;
    background-color: #eef;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 800px;
}

#content h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

#content h1, h2, h3, h4, h5, h6 {
    color: #c10000;
    font-weight: normal;
}

#navbar_header h3 {
    color:white;
    font-weight: bold;
}

/*
#navbar > #navbar_header > center > a > h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color:white;
}*/

p, pre, h2, h3, h4, h5, h6, ol, ul, img {
  margin-bottom: 20px;
}

ol {
  margin-left: 40px;
}

ul {
  margin-left: 30px;
}

hr {
  margin-bottom: 10px;
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

table {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #eee;
}

th {
  text-align: center;
  background-color: #ccc;
}

td {
    padding: 0 15px;
}

.emphasize {
  border: none;
  border-width: thin;
  border-color: #606060;
  background: #880000;
  padding: 15px;
  color: white;
  display: inline-block;
  margin-bottom: 20px;
}

.emphasize a {
  font-weight: 700;
  color:#4ac5ff;
}

.lessonnav {
  overflow: hidden;
  background: lightgray;
  padding: 20px;
}

.important {
  color: red;
  font-weight: 700;
}

.tip {
  border-radius: 5px;
  /*border: solid;
  border-width: thin;
  border-color: gray;*/
  background: #eef;
  padding: 15px;
  float: right;
  margin: 0;
  margin-left: 10px;
  max-width: 360px;
}

.tip b {
  margin-bottom: 10px;
  display: block;
}

ul ul {
  margin-bottom: 0px;
}

.products {
}

.product .upper {
  background: #FFFFFF;
  height: 110px;
  width: 100%;
  display: table;
}

.product .upper h1 {
  vertical-align: middle;
  display: table-cell;
}

.product .lower {
  padding: 20px;
  /*max-width: 500px;*/
}

.product {
    display: inline-block;
    margin: 5px;
    height: 250px;
    min-width: 400px;
    width: calc(50% - 15px);
    /*max-width: 410px;*/
    overflow: hidden;
    border: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #D8D8D8;
    background: #F0F0F0;
    /*-webkit-transition: all 0.25s linear;
       -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
         -o-transition: all 0.25s linear;
            transition: all 0.25s linear;*/
} .product:hover {
  border-color: #4183c4;
}

.product h1 {
    font-size: 36px;
    color: #4183c4;
    margin: 0;
}

.product img {
    width: 100px;
    height: 100px;
    margin: 5px 0 0 15px;
    float: left;
}

.product img:hover {
}

.product a {
    font-size: 36px;
    color: #4183c4;
    text-decoration: none;
}
.product a:hover {
}

.product p {
    /*max-width: 400px;*/
}

.product p a {
    font-size: 16px;
}
